<div class="image-wrapper overlay-fade-in">
	<img src="<%- url_for(post.photos[0]) %>" width="200" height="200" itemprop="image">
	<div class="image-overlay-content">
        <a href="<%- url_for(post.path) %>"><h2><%= post.title %></h2></a>
    </div>
</div>