<footer id="footer">
  <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      		Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="https://www.pinterest.com/cintiaromero313" target="_blank"><i class="fa fa-3x fa-pinterest-square"></i></a></li>
              <li><a href="http://instagram.com/cintiaaaromero" target="_blank"><i class="fa fa-3x fa-instagram"></i></a></li>
              <li><a href="http://twitter.com/cintiaaa_romero" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a></li>
              <li><a href="https://www.linkedin.com/in/cintiaromero" target="_blank"><i class="fa fa-3x fa-linkedin-square"></i></a></li>
              <li><a href="mailto:cintiapub+contact@gmail.com"><i class="fa fa-3x fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>    
</footer>