<!-- <footer id="footer">
  <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      		Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="https://www.pinterest.com/cintiaromero313" target="_blank"><i class="fa fa-3x fa-pinterest-square"></i></a></li>
              <li><a href="http://instagram.com/cintiaaaromero" target="_blank"><i class="fa fa-3x fa-instagram"></i></a></li>
              <li><a href="http://twitter.com/cintiaaa_romero" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a></li>
              <li><a href="https://www.linkedin.com/in/cintiaromero" target="_blank"><i class="fa fa-3x fa-linkedin-square"></i></a></li>
              <li><a href="mailto:cintiapub+contact@gmail.com"><i class="fa fa-3x fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>
</footer>
 -->

<footer id="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 columns">
      <h3 class="logo-footer show-for-small-only">Cintia Romero</h3>
      <form class="footer-form" action="http://formspree.io/cintiapub+contact@gmail.com" method="POST">
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <label for="email" class="contact">Contact Me</label>
              <input type="email" name="_replyto" placeholder="Email Address" required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <textarea rows="5" id="message" placeholder="Message" required></textarea>
            </label>
          </div>
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="_subject" value="Message received from cintiaromero.com" />
              <button class="submit" type="submit" value="Submit">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <h3 class="logo-footer hide-for-small-only">Cintia Romero</h3>
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Resume</a>
      </p>
      <p class="footer-links">
        <a href="/categories/poster">Posters</a>
        <a href="/categories/brochure">Brochures</a>
        <a href="/categories/logo">Logos</a>
        <a href="/categories/digital-banner">Digital banners</a>
        <a href="/categories/social-media">Social media</a>
        <a href="/categories/e-learning">E-learning</a>
        <a href="/categories/illustrations">Illustrations</a>
        <a href="/categories/miscellany">Miscellany</a>
      </p>
      <ul class="inline-list social">
        <li><a href="https://www.pinterest.com/cintiaromero313" target="_blank"><i class="fa fa-2x fa-pinterest-square"></i></a></li>
        <li><a href="http://instagram.com/cintiaaaromero" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
        <li><a href="http://twitter.com/cintiaaa_romero" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a></li>
        <li><a href="https://www.linkedin.com/in/cintiaromero" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
      </ul>
      <p class="copywrite">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.<br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.</p>
    </div>
  </div>
</footer>