<header id="header" class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <span id="logo">
      <a href="<%- url_for() %>"><img src="/img/logo.png" /></a>
    </span>

    <ul class="title-area">
      <li class="name">
        <h1 id="logo-wrap">
          <a href="<%- url_for() %>"><%= config.title.toUpperCase() %></a>
        </h1>
      </li>

      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="<%- url_for() %>">Portfolio</a>
          <ul class="dropdown">
            <li><a href="/categories/poster">Posters</a></li>
            <li><a href="/categories/brochure">Brochures</a></li>
            <li><a href="/categories/logo">Logos</a></li>
            <li><a href="/categories/digital-banner">Digital banners</a></li>
            <li><a href="/categories/social-media">Social media</a></li>
            <li><a href="/categories/e-learning">E-learning</a></li>
            <li><a href="/categories/illustrations">Illustrations</a></li>
            <li><a href="/categories/miscellany">Miscellany</a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/pdf/resume-cintia-romero.pdf">Resume</a></li>
      </ul>
    </section>
  </nav>
</header>