<div class="row">
  <div class="large-4 small-12 columns">
    <div class="image-wrapper overlay-fade-in">
      <img src="http://placehold.it/300x550&text=Printed">
      <div class="image-overlay-content">
        <h2>Printed</h2>
        <p>Browse my printed media</p>
        <a href="/categories/printed" class="button">View gallery</a>
      </div>
    </div>
  </div>   
  <div class="large-4 small-12 columns">
    <div class="image-wrapper overlay-fade-in">
      <img src="http://placehold.it/300x550&text=Web">
      <div class="image-overlay-content">
        <h2>Web</h2>
        <p>Browse my web media</p>
        <a href="/categories/web" class="button">View gallery</a>
      </div>
    </div>
  </div>   
  <div class="large-4 small-12 columns">
    <div class="image-wrapper overlay-fade-in">
      <img src="http://placehold.it/300x550&text=Sketches">
      <div class="image-overlay-content">
        <h2>Sketches</h2>
        <p>Browse my illustration sketches</p>
        <a href="/categories/sketches" class="button">View gallery</a>
      </div>      
     </div>
  </div>   
</div>