<div class="row">
  <div class="large-12 columns">

    <ul class="tabs" data-tab id="main-tabs">
      <li class="tab-title active"><a href="#by-type">By type</a></li>
      <li class="tab-title"><a href="#by-client">By client</a></li>
    </ul>

    <div class="tabs-content" id="main-tabs-content">

      <!-- By type -->
      <div class="content active" id="by-type">
        <ul class="image-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
          <li>
            <div class="category-image home-group-1">
              <a href="/categories/posters" title="Posters">
                <img src="https://farm1.staticflickr.com/572/21778707603_59021da5ea_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Posters</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-2">
              <a href="/categories/brochures" title="Brochures">
                <img src="https://farm6.staticflickr.com/5745/21439467621_b0b995312a_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Brochures</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-3">
              <a href="/categories/logos" title="Logos">
                <img src="https://farm1.staticflickr.com/695/22373809746_3947c530a6_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Logos</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-4">
              <a href="/categories/ads" title="Ads & banners">
                <img src="https://farm6.staticflickr.com/5809/21456729876_df5374b2c1_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Ads & banners</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-5">
              <a href="/categories/web-design" title="Web design">
                <img src="https://farm2.staticflickr.com/1713/25316011803_e57e0343d6_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Web design</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-6">
              <a href="/categories/e-learning" title="E-learning">
                <img src="https://farm1.staticflickr.com/698/21296049269_da873efdf3_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>E-learning</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-7">
              <a href="/categories/illustrations" title="Illustrations">
                <img src="https://farm1.staticflickr.com/617/21315043768_e85b7ee555_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Illustrations</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-8">
              <a href="/categories/miscellany" title="Miscellany">
                <img src="https://farm6.staticflickr.com/5728/21243202188_96a4e1a1bb_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Miscellany</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- By client -->
      <div class="content" id="by-client">
        <ul class="image-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
          <li>
            <div class="category-image home-group-1">
              <a href="/tags/Avenue-Code" title="Avenue Code">
                <img src="https://farm6.staticflickr.com/5745/21439467621_b0b995312a_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Avenue Code</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-2">
              <a href="/tags/City-College-of-San-Francisco" title="CSF">
                <img src="https://farm6.staticflickr.com/5638/21439468121_64b8b25b20_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>CCSF</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-3">
              <a href="/tags/Epifania" title="Epifania">
                <img src="https://farm2.staticflickr.com/1653/25823961292_9ff9cecc31_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Epifania</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-4">
              <a href="/tags/Fundacao-Unimed" title="Fundação Unimed">
                <img src="https://farm1.staticflickr.com/592/21420096642_9c67629089_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Fundação Unimed</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-5">
              <a href="/tags/Personal" title="Personal">
                <img src="https://farm9.staticflickr.com/8580/28734250842_290e8306b0_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Personal</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-6">
              <a href="/tags/Regina-Salomao" title="Regina Salomão">
                <img src="https://farm6.staticflickr.com/5809/21456729876_df5374b2c1_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Regina Salomão</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-7">
              <a href="/tags/Taticas" title="Táticas">
                <img src="https://farm1.staticflickr.com/685/20860240614_aa85cdd54e_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Táticas</h2>
              </div>
            </div>
          </li>

          <li>
            <div class="category-image home-group-8">
              <a href="/tags/UC-Berkeley" title="UC Berkeley">
                <img src="https://farm6.staticflickr.com/5767/23153218833_7b44b9199a_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>UC Berkeley</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>