<div class="row">
  <div class="large-4 medium-4 small-12 columns">
    <div class="image-wrapper overlay-fade-in">
      <a href="/categories/printed">
        <img src="https://farm1.staticflickr.com/762/20837662683_a3073d8e4d_o.png">
      </a>
      <div class="image-overlay-content">
        <h2>Printed</h2>
        <p></p>
        <a href="/categories/printed" class="button">View gallery</a>
      </div>
    </div>
  </div>   
  <div class="large-4 medium-4 small-12 columns">
    <div class="image-wrapper overlay-fade-in">
      <a href="/categories/web">
        <img src="https://farm1.staticflickr.com/735/20837662093_b49a310065_o.png">
      </a>
      <div class="image-overlay-content">
        <h2>Web</h2>
        <p></p>
        <a href="/categories/web" class="button">View gallery</a>
      </div>
    </div>
  </div>   
  <div class="large-4 medium-4 small-12 columns">
    <div class="image-wrapper overlay-fade-in">
      <a href="/categories/sketches">
        <img src="https://farm6.staticflickr.com/5686/21467319811_e8dab8c6f5_o.png">
      </a>
      <div class="image-overlay-content">
        <h2>Sketches</h2>
        <p></p>
        <a href="/categories/sketches" class="button">View gallery</a>
      </div>      
     </div>
  </div>   
</div>