<div class="row">
  <div class="large-12 columns">
  
    <div class="content active" id="by-type">
      <ul class="image-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
        <li>
          <div class="category-image home-group-1">
            <a href="/graphic-design" title="Graphic design">
              <img src="https://farm1.staticflickr.com/572/21778707603_59021da5ea_h.jpg" itemprop="image">
            </a>
            <div class="image-filter-background">
              <h2>Graphic design</h2>
            </div>
          </div>
        </li>

        <li>
          <div class="category-image home-group-2">
            <a href="/web-design" title="Web design">
              <img src="https://farm2.staticflickr.com/1713/25316011803_e57e0343d6_h.jpg" itemprop="image">
            </a>
            <div class="image-filter-background">
              <h2>Web design</h2>
            </div>
          </div>
        </li>

        <li>
          <div class="category-image home-group-3">
            <a href="/categories/ux" title="UX design">
              <img src="https://farm1.staticflickr.com/695/22373809746_3947c530a6_h.jpg" itemprop="image">
            </a>
            <div class="image-filter-background">
              <h2>UX design</h2>
            </div>
          </div>
        </li>

        <li>
          <div class="category-image home-group-4">
            <a href="/categories/illustrations" title="Illustrations">
              <img src="https://farm1.staticflickr.com/617/21315043768_e85b7ee555_h.jpg" itemprop="image">
            </a>
            <div class="image-filter-background">
              <h2>Illustrations</h2>
            </div>
          </div>
        </li>
        
      </ul>

    </div>

  </div>

</div>