@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Give+You+Glory);

body {
	background-image: url('/img/swirl.png');
	font-family: 'Open Sans', sans-serif;
}

header#header {
	nav.top-bar {
	    padding: 0 20px;

	    li.toggle-topbar {
	    	top: 10px;
	    	a {
	    		padding-right: 0;
	    	}
	    }

		h1#logo-wrap {
			font-family: 'Give You Glory', cursive;
		    line-height: 94px;
		    padding-top: 6px;
		    margin: 0;
		    font-size: 35px;

		    a {
		    	color: #eee;
	    		font-size: 1.3em;
	    		&:hover {
					color: #008CBA;
				}

				@media (max-width: 450px)  {
					font-size: 1em;
				}
		    }
		}

		section.top-bar-section {
			a.item {
    		    line-height: 31px;
			    padding-top: 15px;
			    padding-bottom: 10px;
    			text-align: center;
	    		label {
	    			color: #aaa;
	    		}
	    		&:hover, &:hover label {
					color: #008CBA;
				}
			}
		}
	}
}

footer#footer {
	ul.inline-list {
		a {
			color: #333333;
			&:hover {
				color: #008CBA;
			}
		}
	}
}

section#main {
	font-family: 'Merriweather', serif;
	padding-top: 20px;

	.image-wrapper {
		text-align: center;
	}

	ul.image-grid {
		li {
			height: 200px;
			overflow: hidden;
			margin-bottom: 20px;

			a.image-link {
				line-height: 200px;
				display: inline-block;
				overflow: hidden;
				border: 1px solid #cccccc;
	    		height: 200px;

	    		&:hover {
	    			opacity: 0.6;
					transition: all .25s ease-in-out;
	    		}    			   				
			}
		}	
	}

	p.avatar {
		text-align: center;
		img {
			border-radius: 100%;
		}
	}
}
