@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,700|Poiret+One);
@import 'foundation/functions';

$blue-link   	: #008CBA;
$box			: #EEC4F3;
$color-1		: rgba(#99FFCC, 0.6);
$color-2		: rgba(#99FFFF, 0.6);
$color-3		: rgba(#99CCFF, 0.6);
$color-4		: rgba(#9999FF, 0.6);
$color-5		: rgba(#FFFF99, 0.6);
$color-6		: rgba(#FFCC99, 0.6);
$color-7		: rgba(#FF9999, 0.6);
$color-8		: rgba(#FF99CC, 0.6);

body {
	//background-image: url('/img/subtle_dots.png');	
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .breadcrumbs, .collage {
	font-family: 'Open Sans', sans-serif;
}

header#header {
	nav.top-bar {
		height: rem-calc(72);

		#logo {
			img {
				height: 50px;
			}
		}

		.top-bar-section {
			position: relative;
			top: 38%;

			ul li > a {
				font-size: 1rem;
				&:hover {
					text-decoration: underline;
					color: $blue-link;
				}
			}
		}

		.title-area {
			position: relative;
			top: 54%;

			#logo-wrap {
				@media #{$screen} and (max-width: 625px) {
					display: none;
				}

				font-family: 'Poiret One', cursive;
				font-size: 3rem;
				line-height: 1rem;

				a {
					font-size: 32px;
					padding: 0 5px;
				}
			}
		}

		#logo {
			float: left;
			margin: 10px 10px 0 10px;
		}

		.has-form {
			position: absolute;
			top: 0;
			left: 6rem; // adjust distance from left here
			min-width: 14rem; // adjust width here

			@media #{$screen} and (max-width: 40em) {
				min-width: 10rem;
				top: 0.5rem;

				.button {
					height: 1.85rem;
				}
			}
		}

	}
}

footer#footer {
	background-color: $gainsboro;
	font-size: 1.2rem;
	padding: 2rem;

	h3 {
		margin-bottom: 20px;
	}

	.logo-footer {
		font-family: 'Poiret One', cursive;
	  font-weight: bold;

	  a {
			color: $graffity;

			&:hover {
				text-decoration: underline;
				color: $blue-link;
			}
		}
	}

	.social.inline-list {
		@media #{$medium-up} {
			float: right;
		}

		> li {
	    margin-left: 15px;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	.copywrite {
		color: #8f9296;
		font-size: 0.875rem;
		margin: 1rem 0 1rem 0;
	}

	ul.footer-links {
		list-style-type: none;
    	margin-left: 0;

		> li {
			display: inline;
			white-space: nowrap;

			a {
				color: $graffity;

				&:hover {
					text-decoration: underline;
					color: $blue-link;
				}
			}

			&::after {
				content: "•";
				padding: 0 0.2rem 0 0.4rem;
			}

			&:last-child::after {
				content: "";
				padding: 0 0.4rem 0 0.8rem;
			}
		}
	}

}

section#main {
	padding-top: 4rem;
	padding-bottom: 4rem;

	&.post > .row {
      max-width: none;

	  .article-inner > .row {
		max-width: rem-calc(1000);
		margin: 0 auto;
	  }
    }

	.collage > .row {
      max-width: none;
	}

	.image-wrapper {
		text-align: center;
	}

	div.breadcrumbs.box {
		display: inline-block;
		padding-left: 1rem;

		h3 {
			margin-bottom: 0.25rem;
			margin-top: 0;
		}
		ul {
			list-style-type: none;
			margin-left: 0;
			margin-bottom: 0;
			li {
				line-height: 20px;
			}
		}			
	}

	div.breadcrumbs {
		padding-left: 0.5rem;
		border-left: 6px solid;
		line-height: 1;
		font-weight: 100;

		&.graphic-design {
			border-color: $color-1;
		}

		&.web-design {
			border-color: $color-3;
		}

		&.ux {
			border-color: $color-8;
		}

		&.illustrations {
			border-color: $color-5;
		}

		&.default {
			border-color: $box;
		}
	}

	h1.breadcrumbed-title {
		margin-top: 0;
	}	

	.article-inner {

		.item {
			margin-top: 3rem;

			.item-icon {
				vertical-align: top;
				line-height: 1.4;
				margin-right: 0.5rem;
			}

			.item-content {
				display: inline-block;
			}

			:not(.description) .item-content {
				h3 {
					margin-bottom: 0.25rem;
				}
				ul {
					list-style-type: none;
					margin-left: 0;
					margin-bottom: 0;
					li {
						line-height: 20px;
					}
				}			
			}			

			@media #{$small-only} {
				.software {
					margin-top: 3rem;
				}				
			}	

			.description .item-content {
				width: 85%;
			}
					
		}

		.image-grid-container {
			&.graphic-design {
				background-color: $color-1;
			}

			&.web-design {
				background-color: $color-3;
			}

			&.ux {
				background-color: $color-8;
			}

			&.illustrations {
				background-color: $color-5;
			}

			ul.image-grid {
				max-width: 1000px;
				margin: 0 auto;

				li a {
					width: 100%;
					border: 0;
				}
			}
		}

		iframe {
			margin: 0 auto;
			display: block;
		}
	}

	h2.title {
		text-transform: capitalize;
	    font-size: 1.8rem;
	    color: $graffity;
	}

	ul.image-grid {
		li {
			height: 200px;
			overflow: hidden;
			margin-top: 10px;
			margin-bottom: 10px;

			a {
				line-height: 200px;
				display: inline-block;
				overflow: hidden;
				border: 1px solid #cccccc;
				height: 200px;
				position: relative;

				&::before {
					content: '';
					height: 200px;
					position: absolute;
					width: 100%;
					background-color: rgba(0,0,0, 0.4);
					transition: all 0.4s ease-in-out;
					opacity: 0;
				}

				&:hover {
					&::before {
						opacity: 1;
					}
				}

				img {
					width: 100%;
				}
			}
		}
	}

	.fields {
		margin-top: 4rem;

		ul.image-grid {
			li {
				height: initial;

				.category-image {

					&.home-graphic-design {
						margin-top: 4rem;
						@include category-image-filter($color-1	);
					}

					&.home-web-design {
						margin-bottom: 4rem;
						@include category-image-filter($color-3);
					}

					&.home-ux-design {
						margin-top: 4rem;
						@include category-image-filter($color-8);
					}

					&.home-illustrations {
						margin-bottom: 4rem;
						@include category-image-filter($color-5);
					}

					a {
						line-height: 300px;
						height: 300px;
						border: 0;
					}
				}
			}
		}

	}

	.designing {
		margin-top: 7rem;

		@media #{$large-up} {
			.row {
				margin-top: 2rem;
			}
		}

		h3 {
			margin-top: 0;
			line-height: 30px;
			margin-bottom: 0.75rem;
		}

		.box {

			.reviewer { 
				font-size: 12px;
				font-weight: bold;
				text-align: right;
				margin-top: 0.5rem;
			}

			@media #{$small-and-medium} {
				margin-bottom: 4rem;
			}
		}

		.item {
			.item-icon {
				vertical-align: top;
				line-height: 1.4;
				margin-right: 1rem;
				float: left;
			}

			.item-content {
				display: inline-block;
				width: 85%;

				h3 {
					margin-bottom: 0.25rem;
				}
				ul {
					list-style-type: none;
					margin-left: 0;
					margin-bottom: 0;
					li {
						line-height: 20px;
					}
				}			
			}

			@media #{$small-and-medium} {
				&:not(.last-item){
					margin-bottom: 2rem;
				}
			}	
		}
	}

	.collage {
		margin-top: 8rem;
		text-align: center;

		$line: 24px;
		.columns {
			position: relative;

			&.collage-1 {
				background-color: $color-3;
				height: $line * 3;
			}

			&.collage-2 {
				background-color: $color-5;
				height: $line * 9;
				font-size: 1.5rem;
			}

			&.collage-3 {
				background-color: $color-1;
				height: $line * 6;
				font-size: 2rem;
			}

			&.collage-4 {
				background-color: $color-8;
				height: $line * 6;
			}

			&.collage-5 {
				background-color: $color-2;
				height: $line * 3;
				font-size: 1.5rem;
			}

			&.collage-6 {
				background-color: $color-4;
				height: $line * 3;
				font-size: 1.5rem;
			}

		}

		.center {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
    		padding: 1rem;
		}

		@media #{$small-only} {
			.columns {
				&.collage-1, &.collage-2, &.collage-3, &.collage-4, &.collage-5, &.collage-6 {
					height: $line * 3;
					font-size: 1.25rem;
				}
			}
		}

	}

	p.avatar {
		text-align: center;
		img {
			border-radius: 100%;
		}
	}

	.subcat-graphic-design {
		@include category-image-filter($color-1);
	}

	.subcat-web-design {
		@include category-image-filter(#99FFFF);
	}	

	.contact-form {
		margin-top: 4rem;

		textarea, input {
			border-radius: 3px;
			background-color: $smoke;
			box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
			border: none;
			resize: none;
			font: inherit;
			font-size: 0.875rem;
			font-weight: normal;
			color: $oil;
			padding: 8px 16px;

			&::-webkit-input-placeholder {
			   color: $base;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: $base;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $base;
			}

			&:-ms-input-placeholder {
			   color: $base;
			}
		}

		label {
			font-weight: bold;
		}

		.submit {
			border-radius: 3px;
			background-color: $graffity;
			color: #ffffff;
			border: 0;
			padding: 1rem 3.5rem;
			font-weight: bold;
			float: right;
			margin: 0 1rem 0 0;

			&:hover {
				background-color: darken($graffity, 20%);
			}
		}
	}

	.article-gallery {
		margin-bottom: 2em;
	}

	.pagination-centered {
		margin-top: 3rem;

		ul.pagination {
			margin-bottom: 0;
		}
	}
}
