body {
	background-image: url('/img/swirl.png');
}

header#header {
	div.icon-bar {
		label {
			cursor: inherit;
		}
	}
}

footer#footer {
	ul.inline-list {
		a {
			color: #333333;
			&:hover {
				color: #008CBA;
			}
		}
	}
}

ul.image-grid {
	li {
		height: 200px;
		overflow: hidden;
		margin-bottom: 20px;

		a.image-link {
			line-height: 200px;
			display: inline-block;
			overflow: hidden;
			border: 1px solid #cccccc;
    		height: 200px;
		}
	}	
}