<div class="row">
    <div class="large-8 large-centered medium-12 medium-centered columns">

      <div class="row">
        <div class="large-12 columns">
          <div class="breadcrumbs default box">
            <h3>Be welcome to contact me!</h3>
            <ul>
                <li>Let’s get in touch!</li>
                <li>Drop me a line and I'll get back to you ASAP.</li>
            </ul>
          </div>
        </div>
      </div>

		  <form class="contact-form" action="https://formspree.io/cintiapub+contact@gmail.com" method="POST">
        <div class="row">
          <div class="medium-12 columns">
            <label>
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="me@domain.com" required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>
            <label for="email">Message</label>
              <textarea rows="15" name="message" placeholder="I would love to know more about..." required></textarea>
            </label>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="_subject" value="Message received from cintiaromero.com" />
              <input type="hidden" name="_next" value="http://cintiaromero.com/contact/email-received.html" />
              <button class="submit" type="submit" value="Submit">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
	</div>
</div>