<div class="row">
    <div class="large-8 large-centered medium-12 medium-centered columns">
      <section class="me">
        <div class="row">
          <div class="large-12 columns">
            <div class="breadcrumbs default box">
              <h3>Thank you for contacting me!</h3>
              <ul>
                  <li>Your email has been received and will be given attention as soon as possible.</li>
                  <li>In the meanwhile, feel free to browse around to see my work, checking out the links below in the footer.</li>
                  <li>You can also view my <a href="/pdf/resume-cintia-romero.pdf">Resume</a> and follow me on social networks.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>		 
    </div>
	</div>
</div>