<i class="item-icon fa fa-cogs fa-2x" aria-hidden="true"></i>
<div class="item-content">
  <h3>Software</h3>
  <ul>
    <% if (post.software instanceof Array === false) { post.software = post.software.split('\n') } %>
    <% post.software.forEach(function(software, i){ %>
      <li><%- software %></li>  
    <% }) %>
  </ul>
</div>